body {
  background-color: rgb(245, 233, 132);
}

img {
  display: block;
  width: auto;
  height: 400px;
  margin: 10px auto;
  border: 2px solid black;
}

a {
  margin-right: 10px;
  color: rgb(178, 0, 214);
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

a:hover {
  border: 2px black dotted;
  font-size: 1.1em;
  color: black;
}
